<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" >
        <% if user_signed_in? %>
            <%= current_user.name %>さん、こんにちは
            <br>
            <%= link_to "マイページはこちら", user_path(current_user.id) %>
            <br>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% else %>
            <br>
            <p>コメントの投稿にはログインが必要です。</p>
            <p>閲覧は誰でも可能です(^_^)</p>
        <% end %>
        <%#= button_to "スレッドを作成する（右にデータがないときのみ実行するボタン", comic_boards_path, method: :post %>
    </div>

    <div class="col-sm-8">
        <table class="table">
            <thead>
            <tr>
                <th>作品名</th>
                <th>スレッド</th>
                <th>作品詳細</th>
            </tr>
            </thead>
            <tbody>
                <% @comic_boards.each do |board| %>
                    <tr>
                        <td><%= board.comic.title %></td>
                        <td>
                            <%= link_to  comic_board_path(board.id ) do %>
                                今週のスレッドはこちら！
                            <% end %>
                        </td>
                        <td>
                            <%= link_to "あらすじはこちら", comic_path(board.comic.id ) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>
  </div>
</div>
