<h1>this is top page </h1>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" >
        <% if user_signed_in? %>
            <%= current_user.name %>さん、こんにちは
        <% else %>
            ログインしてください
        <% end %>

        <br>
        <%= link_to "ログイン", new_user_session_path %>
        <br>
        <%= link_to "新規登録", new_user_registration_path %>
        <br>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </div>
    <div class="col-sm-8">
        <table class="table">
            <thead>
            <tr>
                <th>作品名</th>
                <th>スレッド</th>
                <th>作品詳細</th>
            </tr>
            </thead>
            <tbody>
                <% @comic_boards.each do |board| %>
                    <tr>
                        <td><%= board.comic.title %></td>
                        <td>
                            <%= link_to  comic_board_path(board.id ) do %>
                                今週のスレッドはこちら！
                            <% end %>
                        </td>
                        <td>
                            <%= link_to "あらすじはこちら", comic_path(board.comic.id ) %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>

    </div>
  </div>
</div>
