<%= form_with(model: point, local: true) do |form| %>
  <% if point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
        <% point.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <label>タイトル</label>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <label>概要</label>
    <%= form.text_area :detail %>
  </div>

  <div class="field">
    <label>ポイント数</label>
    <%= form.number_field :point %>
  </div>

  <div class="field">
    <label>開始日</label>
    <%= form.datetime_select :start_date %>
  </div>

  <div class="field">
    <label>終了日</label>
    <%= form.datetime_select :end_date %>
  </div>
  
  <div class="field">
    <label>カテゴリ</label>
    <%= form.select :point_category, [["シーズンイベント", "シーズンイベント"], ["ログインボーナス", "ログインボーナス"], ["その他", "その他"]], {} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
