<p id="notice"><%= notice %></p>
<h1 style="color:green;"><%= flash[:sucess] %></h1>
<p>
  <strong>Title:</strong>
  <%= @point.title %>
</p>

<p>
  <strong>概要:</strong>
  <%= @point.detail %>
</p>

<p>
  <strong>ポイント数</strong>
  <%= @point.point %>
</p>

<p>
  <strong>開始日</strong>
  <%= @point.start_date %>
</p>

<p>
  <strong>終了日</strong>
  <%= @point.end_date %>
</p>

<p>
  <strong>カテゴリ</strong>
  <%= @point.point_category %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>

<h1>誰にポイントを付与しますか？</h1>

<% if @point.send_status == true %>
    <h4>送信済みです</h1>
  <% else %>
    <%= button_to "全員にポイントを送る", point_send_path(@point) %>
<% end %>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>E-MAIL</th>
      <th>POINT</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.point_count %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New point', new_point_path %>