<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @point.title %>
</p>

<p>
  <strong>概要:</strong>
  <%= @point.detail %>
</p>

<p>
  <strong>ポイント数</strong>
  <%= @point.point %>
</p>

<p>
  <strong>開始日</strong>
  <%= @point.start_date %>
</p>

<p>
  <strong>終了日</strong>
  <%= @point.end_date %>
</p>

<p>
  <strong>カテゴリ</strong>
  <%= @point.point_category %>
</p>


<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
