<div class="col-md-3 mx-auto">
    <div class="form-inline">
        <% @notifications.each do |n| %>
            <div>
                <% case n.action %>
                    <% when "コメント" then %>    
                        <%= n.visitor.name %>さんが<%= link_to "あなたの投稿", comic_board_path(n.comic_board_id)%>にコメントしました
                        <p class="text-muted mb-0"><%= n.comment.comment_text %></p>
                    <% when "いいね" then %>
                        <span>
                            <%= n.visitor.name %>さんが<%= link_to "あなたの投稿", comic_board_path(n.comic_board_id)%>にいいねしました
                            <p class="text-muted mb-0"><%= n.comment.comment_text %></p>
                        </span>    
                    <% when "フォロー" then %>
                        <span>
                            <%= n.visitor.name %>さんがあなたをフォローしました
                        </span>
                    <% when "ポイント" then %>
                        <span>
                            ポイントが付与されました！
                            <% if n.checked == false %>
                                <%= link_to "ポイントを受け取る", notification_path(n.id), method: :patch %>
                            <% end %>
                        </span>
                <% end %>
                <%= time_ago_in_words(n.created_at).upcase %>

                <hr>
            </div>
        <% end %>
    </div>
</div>