<%= form_with(model: comic, local: true) do |form| %>
  <% if comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
        <% comic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>作者</label>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <label>タイトル</label>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <label>あらすじ</label>
    <%= form.text_area :overview %>
  </div>

  <div class="field">
    <label>連載ステータス</label>
    <%= form.select :seriazation_status, [["連載中", "連載中"], ["連載終了", "連載終了"], ["休載中", "休載中"]], {} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
