<!DOCTYPE html>
<html>
  <head>
    <title>JumpMedia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav  class="navbar navbar-dark bg-dark " style="background-color:#222;margin-bottom:0px;">
        <div class="container ">
          <nav class="nav navbar-nav navbar-lett ">
            <p class="text-white" style="font-size: 20px; padding-top:10px; color:white;">ジャンプの感想サイト</p>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right　list-group list-group-horizontal">
              <% if user_signed_in? %>
                <li　class="list-group-item">
                  <span style="padding-top:15px; padding-bottom:15px; margin-right:10px; color:white; font-size:20px;"><%= "id:#{current_user.id}　email:#{current_user.email}　name:#{current_user.name}　｜" %></span>
                </li>

                <li　class="list-group-item">
                  <%= link_to root_path, style:"padding-top:15px; padding-bottom:15px; margin-right:10px; color:white; font-size:20px;" do %>  
                    Home   
                  <% end %>
                </li>

                <li　class="list-group-item">
                  <%= link_to notifications_path, style:"padding-top:15px; padding-bottom:15px; margin-right:10px; color:white; font-size:20px;" do  %>  
                    通知
                    <% if notification_check? == true %>
                      新着通知あり！
                    <% end %>
                   <% end %>
                </li>

                <li　class="list-group-item">
                  <%= link_to destroy_user_session_path, style:"padding-top:15px; padding-bottom:15px; margin-right:10px; color:white; font-size:20px;" , :method => :delete do  %>  
                    ログアウト
                  <% end %>
                </li>
              <% else %>
                <li　class="list-group-item">
                  <%= link_to root_path, style:"padding-top:15px; padding-bottom:15px; margin-right:10px; color:white; font-size:20px;" do %>  
                    Home  
                  <% end %>
                </li>

                <li　class="list-group-item">
                  <%= link_to new_user_registration_path, style:"padding-top:15px; padding-bottom:15px; margin-right:10px; color:white; font-size:20px;" do %>  
                    会員登録 
                  <% end %>
                </li>
                <li　class="list-group-item">
                  <%= link_to new_user_session_path, style:"padding-top:15px; padding-bottom:15px; margin-right:10px; color:white; font-size:20px;" do %>  
                    ログイン
                  <% end %>
                </li>
              <% end %>  
            </ul>
          </nav>
        </div>
      </nav>
    </header> <br>
    <%= yield %>
  </body>
</html>
